<h2>Search:</h2>
<form method="get" action="{{ path('app_user_index') }}">
    <hr>
    <label>
        <p>Last Name:</p>
        <input name="last_name">
    </label>

    <label>
        <p>First Name:</p>
        <input name="first_name">
    </label>

    <label>
        <p>Surname:</p>
        <input name="surname">
    </label>

    <label>
        <p>Phone:</p>
        <input name="phone">
    </label>

    <label>
        <p>Phone count:</p>
        <input name="phone_count">
    </label>
    <br><br><br>
    <button class="btn">Search</button>
    <hr>
</form>
